<!-- capturar pluviometros -->
<mat-card *ngIf="!show">
    <mat-card-header>
        <mat-card-title>Registrar Pluviometro</mat-card-title>
        <img matCardAvatar [src]="user.photoURL">
        <mat-card-subtitle *ngIf="user">{{user.displayName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nombre" [formControl]="name" (keyup)="name.setValue(n.value)" #n required minlength="1">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Latitud" disabled [value]="latitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Location" disabled [value]="longitude">
      </mat-form-field>
      <input type="file" name="photo" (change)="setPhoto($event)">
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="regist()">Registrar nuevo</button>
      <button mat-button (click)="show = true; getLocation();" color="secondary">Ver Registros</button>
    </mat-card-actions>
</mat-card>
<!-- listar pluviometros -->
<mat-card *ngIf="show">
    <mat-card-header>
      <mat-card-title>Pluviometros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group (selectedIndexChange)="index = m.selectedIndex" #m>
        <mat-tab label="Mis Pluviometros">
          <table>
            <thead>
              <tr>
                <th>Lugar</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of locationsArray">
                <td  [ngStyle]="{ 'color': (longitude-.02 <= location.longitude && longitude+.02 >= location.longitude && latitude-.02 <= location.latitude && latitude+.02 >= location.latitude ) ? 'green' : ' white' }">
                  {{location.name}}
                  <br>
                  <span *ngIf="longitude === location.longitude && latitude === location.latitude" style="color: white;margin-left: 10px;">(Aqui)</span>
                  <span *ngIf="longitude-.02 <= location.longitude && longitude+.02 >= location.longitude && latitude-.02 <= location.latitude && latitude+.02 >= location.latitude" style="margin-left:10px;">(Cerca)</span>
                </td>
                <td>
                  {{location.latitude}}
                </td>
                <td>
                  {{location.longitude}}
                </td>
                <td>
                  <a mat-button [routerLink]="['/measurements',location.name]" style="float: right;">Medir</a>
                  <button mat-button (click)="deleteLocation(location.name)" style="float: right;"><mat-icon class="mat-18">close</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
        <mat-tab label="Todos los Pluviometros">
          <table>
            <thead>
              <tr>
                <th>Lugar</th>
                <th>Latitud</th>
                <th>Longitud</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of locationsArrayAll">
                <td  [ngStyle]="{ 'color': (longitude-.02 <= location.longitude && longitude+.02 >= location.longitude && latitude-.02 <= location.latitude && latitude+.02 >= location.latitude ) ? 'green' : ' white' }">
                  {{location.name}}
                  <br>
                  <span *ngIf="longitude === location.longitude && latitude === location.latitude" style="color: white;margin-left: 10px;">(Aqui)</span>
                  <span *ngIf="longitude-.02 <= location.longitude && longitude+.02 >= location.longitude && latitude-.02 <= location.latitude && latitude+.02 >= location.latitude" style="margin-left:10px;">(Cerca)</span>
                </td>
                <td>
                  {{location.latitude}}
                </td>
                <td>
                  {{location.longitude}}
                </td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <mat-chip-list>
          <mat-chip>Tu Latitud: {{latitude}}</mat-chip>
          <mat-chip> Tu Longitud : {{longitude}}</mat-chip>
      </mat-chip-list>
      <button mat-button (click)="show= false" color="danger">Cerrar</button>
      <button mat-button (click)="export()" color="danger">Exportar</button>
    </mat-card-actions>
</mat-card>

