<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-subtitle>Ingresa el usuario y contraseña</mat-card-subtitle>
  </mat-card-header>
  <div style="margin: auto;">
    <img class="logo" src="../../../assets/images/logo.png" alt="Logo">
  </div>
  <mat-card-content>
    <div style="align-items: center; position: relative; text-align: center; margin: 20px;">
      <h2>Bienvenido al Pluviómetro</h2>
      <small>Incia sesion para comenzar a medir</small>
    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: right;">
    <button mat-button (click)="login()"><mat-icon class="mat-18">login</mat-icon> Iniciar Sesión con Google</button>
    <a mat-button href="https://github.com/DarkUnknowKnigth/Pluviometro"><mat-icon class="mat-18">add</mat-icon>Github</a>
  </mat-card-actions>
</mat-card>

