mat-form-field{
  width: 90%;
  margin-left: 2%;
  margin-right: 2%;
}
mat-card-content{
  margin: auto;
  text-align: center;
}
mat-card{
  margin: auto;
  max-width: 90%;
  max-height: 85vh;
}
.logo{
  margin: auto;
  width: 250px;
  height: 250px;
}
mat-icon{
  margin: 0 10px;
}
.logo-last{
  margin-top: 10px;
  float: right;
  width: 90px;
  height: 70px;
}
.image-container{
  margin: auto 0;
  text-align: center;

}
mat-card-actions{
  align-content: flex-end;
  justify-content: flex-end;
}
// en grnade
@media screen and ( min-width: 700px ){
  .logo{
    width: 380px;
    height: 380px;
  }
  .logo-last{
    position: absolute;
    top: 90%;
    right: 10%;
    width: 90px;
    height: 70px;
  }
}
