.container {
  width: 100%;
  height: 93vh;
}
@media only screen and (min-width: 700px){
  .container {
    width: 100%;
    height:95vh;
  }
  .copyright{
    text-align: center;
    position: absolute;
    bottom: 0;
  }
}
.sidenav-content {
  display: flex;
  height: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
mat-item > a{
  width: 100%;
}
.sidenav {
  padding: 20px;
}
.copyright{
  text-align: center;
  position: absolute;
  bottom: 50px;
}
